files:
  "/tmp/set-to-standard.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      instance=`curl -s http://169.254.169.254/latest/meta-data/instance-id`
      region=`curl -s http://169.254.169.254/latest/meta-data/placement/availability-zone | sed 's/\(.*\)[a-z]/\1/'`
      aws ec2 modify-instance-credit-specification --region $region --instance-credit-specification "InstanceId=$instance,CpuCredits=standard"

commands:
  set-to-standard:
    command: /tmp/set-to-standard.sh
